.inspires{
    padding: 120px 0;
    background: #9AA8B1;
    &__wrapper{
        text-align: center;
        color: #FFF;
    }
    &__title{
        font-size: 43px;
        margin: 24px 0 23px;
    }
}